.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.inputContainer .label {
  display: block;
  margin-bottom: 0.6rem;
}

.inputContainer .labelContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.2rem;
}

.inputContainer .error {
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--strawberry-red);
}

.inputContainer .input {
  width: 100%;
  padding: 0.9rem;
  border: 1px solid var(--light-gray);
  border-radius: 8px;
  font-size: 16px;
  color: var(--marine-blue);
}

.inputContainer .input:focus {
  border-color: var(--purplish-blue);
  outline: none;
}

.input-container .input::placeholder {
  opacity: 0.4;
}
