.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem 0;
  max-width: 460px;
  width: 100%;
  margin: 0 auto;
}

@media (width <= 768px) {
  .form {
    padding: 0 2rem 2rem;
  }
}
