.btn {
  color: var(--cool-gray);
  font-weight: 500;
  font-size: 1rem;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  color: var(--marine-blue);
}

.btnPrimary {
  display: grid;
  place-content: center;
  border-radius: 8px;
  background-color: var(--marine-blue);
  color: var(--white);
  margin-left: auto;
  width: 125px;
  height: 50px;
}

.btnPrimary:hover {
  opacity: 0.85;
  color: var(--white);
}
