.plans {
  margin-bottom: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.plans .plan {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1.3rem 1rem 1rem;
  cursor: pointer;
  user-select: none;
  transition: 0.2s ease-in-out;
}

.plans .plan:hover {
  background-color: var(--alabaster);
  border-color: var(--marine-blue);
}

.plans input[type="radio"] {
  position: absolute;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.plans input[type="radio"]:checked + .plan {
  transition: all 0.25s linear;
  border: 1px solid var(--marine-blue);
  background-color: var(--alabaster);
}

.plans .plan .icon {
  margin-bottom: 3rem;
}

.plans .plan .planType {
  font-weight: 600;
  font-size: 1em;
  margin-bottom: 0.2rem;
  letter-spacing: -0.5px;
}

.plans .plan .price {
  color: var(--cool-gray);
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}

.plans .plan .discount {
  font-size: small;
  font-style: normal;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(--alabaster);
  padding: 1rem;
}

.checkbox .duration {
  all: unset;
  font-weight: 500;
  font-size: 0.9rem;
  color: var(--cool-gray);
  cursor: pointer;
}

.checkbox label {
  --size: 30px;
  cursor: pointer;
  width: 36px;
  height: calc(var(--size) / 1.5);
  background: var(--marine-blue);
  display: block;
  border-radius: 150px;
  position: relative;
}

.checkbox label:after {
  content: "";
  position: absolute;
  top: 19%;
  left: 12%;
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 90px;
  transition: var(--transition);
}

.checkbox input:checked + label {
  background: var(--marine-blue);
}

.checkbox input:checked + label:after {
  left: calc(100% - 12%);
  transform: translateX(-100%);
}

.checked {
  color: var(--marine-blue);
}

@media (width <= 768px) {
  .plans {
    grid-template-columns: 1fr;
  }

  .plans .plan {
    flex-direction: row;
    justify-content: flex-start;
    gap: 0.8rem;
  }

  .plans .plan .icon {
    margin-bottom: 0;
  }
}
