.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  padding: 1.5rem;
}

.form-container {
  display: flex;
  gap: 32px;
  background-color: white;
  border-radius: 15px;
  max-width: 960px;
  width: 100%;
  min-height: 600px;
  margin: 0 auto;
  padding: 1rem;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (width <= 768px) {
  .form-container {
    flex-direction: column;
    padding: 0;
    border-radius: 20px;
  }
}
