@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

:root {
  --marine-blue: #02295a;
  --purplish-blue: #473dff;
  --pastel-blue: #adbeff;
  --light-blue: #bfe2fd;
  --strawberry-red: #ed3548;
  --cool-gray: #9699ab;
  --light-gray: #d6d9e6;
  --magnolia: #f0f6ff;
  --alabaster: #f8f9fe;
  --white: #ffffff;
  --transition: 0.2s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

body {
  font-size: 1em;
  font-family: inherit;
  background-color: var(--magnolia);
  color: var(--marine-blue);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  border: none;
}

/* Reset browser's default checkbox and radio styling */
input[type="radio"],
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 0px;
  height: 0px;
}
