.success {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  line-height: 1.7;
  max-width: 450px;
  margin: 0 auto;
}

.success p {
  font-size: 1.05rem;
}

.icon {
  margin-bottom: 1.5rem;
}
