.addons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.addon {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid var(--light-gray);
  padding: 1.3rem;
  border-radius: 10px;
}

.addon:hover {
  border-color: var(--marine-blue);
  background-color: var(--alabaster);
}

.checkmark {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  height: 18px;
  width: 18px;
  background-color: var(--white);
  border: 1px solid var(--light-gray);
  border-radius: 4px;
  transition: var(--transition);
}

.addon:hover input ~ .checkmark {
  background-color: var(--alabaster);
}

.addon input:checked ~ .checkmark {
  background-color: var(--purplish-blue);
  border-color: transparent;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.addon input:checked ~ .checkmark:after {
  display: block;
}

.addon .checkmark:after {
  left: 6px;
  top: 3px;
  width: 3px;
  height: 6px;
  border: solid var(--white);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.addon .content {
  margin-left: 2.6rem;
}

.addon .name {
  font-weight: 600;
  font-size: 1em;
  margin-bottom: 0.2rem;
  letter-spacing: -0.5px;
}

.addon .feature {
  color: var(--cool-gray);
  font-size: 0.85rem;
}

.addon .price {
  margin-left: auto;
  font-size: 0.9rem;
  color: var(--purplish-blue);
}
