.formHeader {
  margin: 0.5rem 0 2.3rem;
}

.formTitle {
  font-size: 2.2rem;
  margin-bottom: 0.5rem;
  color: var(--marine-blue);
}

.formDescription {
  color: var(--cool-gray);
  letter-spacing: -0.4px;
}
