.header {
  background-color: var(--alabaster);
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--light-gray);
  padding-bottom: 1.4rem;
}

.header ul {
  padding-top: 1.4rem;
}

.header ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.header ul li:last-child {
  margin-bottom: 0;
}

.header ul li span,
.total p {
  font-size: 0.9rem;
  color: var(--cool-gray);
}

.header ul li p {
  font-size: 0.9rem;
}

.header h2 {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 0.1rem;
}

.header button {
  text-decoration: underline;
  color: var(--cool-gray);
  transition: color 0.3s ease-in-out;
}

.header button:hover {
  color: var(--purplish-blue);
}

.summary .price {
  font-weight: 600;
}

.total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
}

.total em {
  font-weight: 600;
  font-style: normal;
  color: var(--purplish-blue);
}

.emptyAddons {
  color: var(--cool-gray);
  margin-top: 0.8rem;
}
