.sidebar {
  display: flex;
  position: relative;
  color: var(--white);
}

.sidebarStep {
  display: flex;
  flex-direction: column;
  row-gap: 1.8rem;
  position: absolute;
  top: 40px;
  left: 32px;
}

.sidebarStep li {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.sidebarDot {
  display: grid;
  place-content: center;
  border: 1px solid var(--white);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  font-weight: 500;
  transition: all 0.2s linear;
}

.sidebarDetails h3 {
  font-weight: 300;
  opacity: 0.6;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.sidebarDetails em {
  font-weight: 600;
  font-size: 0.9rem;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: var(--alabaster);
}

.activeDot {
  border-color: transparent;
  background: var(--light-blue);
  color: var(--marine-blue);
}

.mobileBg {
  display: none;
}

@media (width <= 768px) {
  .sidebarStep {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1rem;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .sidebarDetails {
    display: none;
  }

  .mobileBg {
    display: block;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  .desktopBg {
    display: none;
  }
}
